html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "AndersonGrotesk-Light";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("AndersonGrotesk-Light"),
    url(./assets/fonts/AndersonGrotesk-Light.ttf) format("truetype"),
    url(./assets/fonts/AndersonGrotesk-Light.woff2) format("woff2"),
    url(./assets/fonts/AndersonGrotesk-Light.otf) format("opentype");
}